@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    font-family: "poppins";
    
}


/*------------------------------  GET STARTED ---------------------------------------- */ 


header{
    background-color: #000000;
    margin: 10px 20px;
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    justify-items: center;
    align-items: center;
    border-radius: 5px ;
}
header .logo{
    grid-column: 2 /span 10;
    text-align: center;
    padding-top: 1rem;
    text-transform: uppercase;
  
}
span{
    width: 100px;
    height: 20px;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
header h1:first-child{
    font-size:90px;
    font-weight: 800;
    letter-spacing: 1.5px;
}
header h1 div:last-child{
    font-size: 40px;
    font-weight: 400;
    color: white;

}

header .welcome{
    grid-column: 2 /span 4;
    color: white;
}
header h2{
    font-size:60px;
    font-weight: 600;
    letter-spacing: 1.5px;
}
header p{
    font-size:20px;
    font-weight: 300;
    letter-spacing: 1px;
}
header button{
    margin-top: 1rem;
    width: 250px;
    height: 65px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}
header .image{
    justify-self: end;
    grid-column: 7 /span 11;
    border-top: 5px dashed rgb(255, 255, 255);
    border-left: 5px dashed rgb(255, 255, 255);;
    border-top-left-radius: 5px;

}
header img{
    width: 50rem;
    height: 50rem;
}


/* ------------------------  END OF GET STARTED  -------------------------*/





/*-------------------------  HOME -------------------------------*/

.container{
    display: grid;
    grid-template-columns: repeat(12 ,1fr);
    margin: 10px 60px;
    background-color:  #f7f7f7;
}
.container > *{
    grid-column: span 12;
}



/*-------------------------------------- NAVBAR--------------------------------*/

nav{
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(6 ,1fr);
    justify-items: center;
    align-items: center;
    text-align: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    padding: 1rem auto;
    margin-top: 1rem;
    width: 100%;
    border: 1px  solid;
    border-radius: 5px;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    color: #000000;
}
nav a:hover{
    width: 100px;
    text-decoration: underline;
    font-weight: 600;
}
nav h1{  
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr;
}
nav h1 div:first-child{
    width: 100px;
    height: 35px;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: 800;
    letter-spacing: 1.5px;
}
nav h1 div:last-child{
    font-size: 15px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}
nav svg{
    margin-right: 1rem;
    cursor: pointer;
}
svg:hover{
    background-color: #000000;
    color: #fff;
    border-radius: 5px;
}


/*--------------------------------- END OF NAVBAR----------------------------------*/





/*---------------------------------- ASIDE ------------------------------------------*/

aside{
    background-color: rgba(0, 0, 0, 0.931);
    margin-top: 1rem;
    padding-bottom: 7rem;
    border-radius: 5px;
    height: 170px;
}
aside .image{
    display: block;
    overflow: hidden;
    width: 100%;
}

aside img{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    margin-left: 1rem;

}

/*---------------------------------- END OF ASIDE ------------------------------------------*/




/*---------------------------------- ARTICLE ------------------------------------------*/

article{
    display:grid ;
    grid-template-columns: repeat(5 ,1fr);
    margin-top: 2rem;
    background-color: #fff;
    box-shadow: 3px 3px 3px rgb(0, 0, 0,0.5);
    border: 1px  solid;
    border-radius: 5px;
}
article img{
    width: 230px;
    height: 230px;
    margin: 2px  15%;
}
fieldset {
    width: 350px;
    border-radius: 5px;
    border: 2px  solid ;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
  }
  legend{
   text-align: right;
   padding-left: 2rem;
   padding-right: 1rem;
  }
article h2{
    font-size: 30px;
}
article p{
    font-weight: 400;
    font-size: 20px;
}
article button{
    margin-bottom: 1rem;
    margin-left: 1rem;
    width: 145px;
    height: 45px;
    font-size: 15px;
    background-color: #000000;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}

/*---------------------------------- END OF ARTICLE -----------------------------------*/

/*---------------------------------- MAIN --------------------------------------------*/

main{
    display:flex ;
    margin-top: 2rem;
    text-align: center;
    background-color: #000000;
    height: 500px;
    width: 100%;
    border-radius: 5px;
}
main .image{
    display: block;
    overflow: hidden;
    width: 100%;
    margin-right: 1rem;
}

main img{
    width: 230px;
    height: 230px;
    margin-left: 1rem;
    cursor: pointer;

}
/*---------------------------------- END OF MAIN -------------------------------------*/

/*--------------------------------- FOOTER -----------------------------------------*/

footer{
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
    gap: 5px;
    width: 100%;
    height: 95rem;
    margin-top: 2rem;
    background-color: #fff;
    box-shadow: 3px 3px 3px rgb(0, 0, 0,0.5);
    border: 1px  solid;
    border-radius: 5px;
}

footer .contact, 
footer .message, 
footer .socialmedia, 
footer .newsletter{
    width: 55rem;
    height: 30rem;
}
footer .title{
    grid-column: span 4;
    text-align: center;
    font-weight: 400; 
}
footer .title h3{
    font-size: 35px;
    font-weight: 700;
}

footer .contact_message{
    grid-column: span 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 111rem;
}

/*------------------------------------------------ CONTACT ---------------------------------------------------------*/

footer .contact{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 1rem;
} 
footer .contact div{
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(0, 0, 0,0.5);
    width: 70%;
    padding: 1rem;
}
footer .address, .call, .email, .open{
    grid-column: span 2;
    margin: 10px auto;
}
footer .contact img{
    width: 40px;
    margin-top: 1rem;
}

/*------------------------------------------------ MESSAGE ---------------------------------------------------------*/

footer .message {
    width: 55.3rem;
    height: 30rem;
    display: grid;
    grid-template-columns: repeat(12 ,1fr);
    gap: 10px;
}
footer .message .namemail{
    grid-column: 4 /span 8;
    margin-top: 50px;
    height: 30rem;
    width: 40rem;
}
footer .message fieldset{
    width: 90%;
    height: 20%;
    margin: 5px auto;
}
footer .message legend{
    text-align: justify;
    padding-left: 1rem;
}
footer .message input, textarea{
    width: 100%;
    border: 0px;
}
footer .message textarea{
    height: 100px;
}
footer .message .nmeml{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12 ,1fr);
}
footer .message .nmeml fieldset{
    width: 290px;
    height: 45px;
}
footer .message .subject{
    width: 96%;
}
footer .message .sms{
    width: 96%;
}
footer .message .sendsms{
    width: 200px;
    height: 40px;
    margin: 5px auto;
    border: 0px;
    color: #fff;
    background-color: #000000;
    border-radius: 5px;
    cursor: pointer;
}

/*------------------------------------------------ NEWLETTERS ---------------------------------------------------------*/

footer .newsletter{
    grid-column: span 4;
    width: 100%;
    height: 280px;
    text-align: center;
    margin-top: 2rem;
}
footer .newsletter h3{
    font-size: 25px;
    font-weight: 600;
}
footer .newsletter .formm{
    display: grid;
    justify-content: center;
}
footer .newsletter form{
    width: 570px;
    height: 42px;
    border: 2px  solid;
    border-radius: 5px; 
    background-color: #fff;
}
footer .newsletter form input{
    width: 400px;
    height: 30px;
    margin: 1px 1px;
    border: 0px;
    margin-right: 0.5rem;
    background-color: #fff;
}
footer .newsletter form button{
    width: 150px;
    height: 40px;
    margin: 1px 1px;
    border: 0px;
    color: #fff;
    background-color: #000000;
    border-radius: 5px;
    cursor: pointer;
}
/*------------------------------------------------ SOCIAL MEDIA ---------------------------------------------------------*/

footer .socialmedia{
   grid-column: span 4;
   height: 350px;
   width: 96.5%;
   padding-left: 4rem;
   display: grid;
   grid-template-columns: repeat(4 ,1fr);

}
footer .socialmedia .media1{
    width: 570px;
}
footer .socialmedia img{
    width: 20px;
    padding-right: 1rem;
    cursor: pointer;
}
footer .socialmedia li{
    list-style: none;
    padding-left: 1rem;
    cursor: pointer;
}
footer .socialmedia li:hover{
    font-weight: 600;
}
footer .socialmedia .link{
    display: grid;
    grid-template-columns: repeat(12 ,1fr);
    width: 66.5rem;
}
footer .socialmedia .link .media2, .media3, .media4{
    justify-self: center;
    grid-column: span 4;
}

/*------------------------------------------------ COPYRIGHT ---------------------------------------------------------*/

footer .copyright{
    grid-column: span 4;
    text-align: center;
    width: 100%;
}














/*---------------------------------- RESPONSIVE ----------------------------------*/

/*---------------------------------  INDEX PAGE-------------------------------------*/

@media screen and (max-width: 1542px){
    header{
        display: grid;
        grid-template-columns: repeat(12 ,1fr);
    }
    header .logo{
        grid-column: 2 /span 10;
        text-align: center;
    }
    header .welcome{
        grid-column: 2 /span 10;
        padding-bottom: 2rem;
    }
    header button{
        justify-self: center;
    }
    header .image{
        grid-column: 2 /span 10;
        grid-row: 2;
    }
    header img{
        width: 30rem;
        height: 30rem;
    }
}

@media screen and (max-width: 740px){
    header .logo{
        grid-column: 2 /span 10;
        text-align: center;
    }
    header .welcome{
        grid-column: 2 /span 10;
        padding-bottom: 2rem;
    }
    header .welcome h2{
        padding-top: 1rem;
        font-size:40px;
        font-weight: 600;
        letter-spacing: 1.5px;
    }
    header p{
        font-size:15px;
        font-weight: 300;
        letter-spacing: 1px;
    }
    header button{
        font-size: 15px;
        width: 150px;
        height: 45px;
    }
    header .image{
        grid-column: 2 /span 10;
        grid-row: 2;
    }
    header img{
        width: 25rem;
        height: 25rem;
    }

}

@media screen and (max-width: 540px){
    header .logo{
        grid-column:2 /span 10 ;
    }
    header .image{
        grid-column: span 12;
        grid-row: 2;
    }
    header img{
        width: 20rem;
        height: 20rem;
    }
    header .welcome{
        padding-bottom: 2rem;
    }
    header .welcome h2{
        padding-top: 1rem;
        font-size:25px;
        font-weight: 600;
        letter-spacing: 1.5px;
    }
    header p{
        font-size:15px;
        font-weight: 300;
        letter-spacing: 1px;
    }
    header button{
        font-size: 15px;
        width: 150px;
        height: 45px;
    }

}












    /*------------------- HOME PAGE ----------------------*/

@media screen and (max-width: 980px){

     /*------------------- NAVBAR  ----------------------*/

    nav h1{
        grid-column: span 10;
        grid-row: 1;
    }
    nav .icons{
        grid-column: 5 /span 2;
        width: 150px;
    }
     /*------------------- END OF NAVBAR  ----------------------*/

      /*------------------- ASIDE  ----------------------*/

      aside{
        background-color: rgba(0, 0, 0, 0.931);
        margin: 1rem;
        padding-bottom: 6rem;
        border-radius: 5px;
        height: 35px;
    }
    aside .image{
        display: flex;
        overflow: hidden;
        width: 100%;
        margin-top: 1rem;
    }
    
    aside img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-left: 1rem;
    
    }
    /*---------------------------------- END OF ASIDE  ----------------------*/

    /*------------------------------------- ARTICLE ------------------------------------------*/

article{
    display:block ;
    margin-top: 2rem;
}
fieldset {
    width: 450px;
    border-radius: 5px;
    border: 2px  solid ;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1rem;
  }
/*---------------------------------- END OF ARTICLE ------------------------------------------*/
  
}
@media screen and (max-width: 600px){

/*------------------- NAVBAR  ----------------------*/

    nav a{
        font-size: 14px;
        padding-right: 1rem;
    }
    nav svg{
        width: 20px;
        height: 20px;
        padding-right: 0.5rem;
    }
/*------------------- END OF NAVBAR  ----------------------*/

/*---------------------------------- ARTICLE ------------------------------------------*/
     article fieldset {
        width: 350px;
      }
/*---------------------------------- END OF ARTICLE ------------------------------------------*/

}

@media screen and (max-width: 540px){
 /*------------------- NAVBAR  ----------------------*/

    nav svg{
        width: 15px;
        height: 15px;
        
    } 
 /*------------------- END OF NAVBAR  ----------------------*/

 /*---------------------------------- ARTICLE ------------------------------------------*/
     article fieldset {
        width: 250px;
      }
      article img{
        width: 230px;
        height: 230px;
        margin: 2px  5%;
    }
      article h2{
        font-size: 20px;
      }
/*---------------------------------- END OF ARTICLE ------------------------------------------*/

}

/*---------------------------------- FOOTER ------------------------------------------------*/

@media screen and (max-width: 1630px){
    main{
        height: 350px;
    }
    main img{
        width: 170px;
        height: 170px;
    }
    footer{
        grid-template-columns: 1fr;
    }
    footer .contact_message{
        width: 94rem;
    }
    footer .message {
        width: 38rem;
        height: 30rem;
    }
    footer .message .namemail{
        grid-column: 2 /span 10;
        margin-top: 50px;
        height: 30rem;
        width: 30rem;
    }
    footer .message .nmeml{
        width: 99%;
        display: flex;
    }
    footer .message .subject{
        width: 93%;
    }
    footer .message .sms{
        width: 93%;
    }
    footer .socialmedia{
        width: 95.5%;
    }
    footer .socialmedia .link{
        margin-left: 2rem;
        width: 52.5rem;
    }
}

@media screen and (max-width: 1540px){
    main{
        height: 350px;
    }
    main img{
        width: 160px;
        height: 160px;
    }
    footer{
        height: 92rem;
    }
    footer .contact_message{
        width: 88rem;
    }
    footer .contact{
        width: 100%;
        align-self: center;
        align-items: center;
    }
    footer .message {
        width: 100%;
        height: 30rem;
        align-self: center;
        justify-self: center;
        align-items: center;
        justify-items: center;
    }
    footer .newsletter{
        width: 99%;
        grid-column: span 5;
    }
 
    footer .socialmedia .media1 p{
        text-align: justify;
    }
    footer .socialmedia .link{
        margin-left: 1rem;
        width: 47rem;
    }
    footer .socialmedia .link >*{
        column-gap: 10px;
    }
    footer .socialmedia .link .media2{
        grid-column: 1 /span 4;
    }
    footer .socialmedia .link .media3{
        grid-column: 5 /span 3;
    }
    footer .socialmedia .link .media4{
        grid-column: 9 /span 2;
        width:20rem;
    }
    footer .copyright{
        text-align: center;
        align-self: start;
        width: 99%;
        grid-column: span 5;
    }
}

@media screen and (max-width: 1440px) {
    main{
        height: 310px;
    }
    main img{
        width: 140px;
        height: 140px;
    }
    footer{
        height: 105rem;
    }
    footer .contact_message{
        width: 82rem;
    }
    footer .socialmedia .link{
        margin-left: 1rem;
        width: 35rem;
    }
    footer .socialmedia .link .media2{
        grid-column: 2 /span 4;
    }
    footer .socialmedia .link .media3{
        grid-column: 6 /span 6;
    }
    footer .socialmedia .link .media4{
        grid-column: 4 /span 8;
    }
    footer .copyright{
        margin-top: 5rem;
    }
}

@media screen and (max-width: 1240px){
    main{
        height: 250px;
    }
    main img{
        width: 120px;
        height: 120px;
    }
    footer{
        height: 125rem;
    }
    footer .contact_message{
        width: 70rem;
        display: grid;
        grid-template-columns: 1fr;
    }
    footer .message{
        margin-top: 1rem;
        align-items: center;
    }
    footer .socialmedia{
        width: 93.5%;
    }
    footer .socialmedia .link{
        margin-left: 1rem;
        width: 29rem;
    }
    footer .socialmedia .media1{
        width: 450px;
    }
    footer .socialmedia .link .media4{
        grid-column: 1 /span 11;
    }
    footer .copyright{
        padding-bottom: 1rem;
    }
}
@media screen and (max-width: 1170px){
    footer{
        height: 159rem;
    }
    footer .contact{
        display: block;
        margin-bottom: 25rem;
    }
    footer .contact div{
        margin-left: 1rem;
    }
    footer .message{
        margin-top: 3rem;
    }
    footer .message .namemail{
        margin-right: 10rem;
    }
    footer .socialmedia .media1{
        grid-column: span 4;
    }
    footer .socialmedia .link {
        display: flex;
        justify-content: space-around;
        margin-top: 12px;
        width: 55rem;
    }
    footer .copyright{
       padding-top: 6rem;
    }
    
}
@media screen and (max-width: 1110px){
    main{
        height: 220px;
    }
    main img{
        width: 100px;
        height: 100px;
    }
    footer .contact div{
        margin-left: 1rem;
    }
}
@media screen and (max-width: 980px) {
    main{
        height: 320px;
    }
    main img{
        width: 100px;
        height: 100px;
    }
    footer .title{
        width: 50rem;
    }
    footer .newsletter {
        width: 70%;
    }
    footer .contact div{
        margin-left: 1rem;
    }
    footer .socialmedia{
        width: 70%;
    }
    footer .socialmedia .link {
        flex-direction: row;
        width: 50rem;
    }
    footer .copyright{
        width: 45rem;
    }
}
@media screen and (max-width: 790px){
    footer .title{
        width: 40rem;
    }
    footer .contact div{
        margin-left: 4rem;
        width: 40%;
    }
    footer .message .namemail{
        margin-right: 30rem;
        width: 40%;
    }
    footer .newsletter{
        width: 40rem;
    }
    footer .socialmedia .link {
        width: 40rem;
    }
    footer .copyright{
        width: 40rem;
    }
}

@media screen and (max-width: 600px) {
    main{
        height: 530px;
    }
    main img{
        width: 100px;
        height: 100px;
    }
    footer {
        padding: 10px;
    }
    footer .message fieldset {
        padding: 0.5rem;
    }
    footer .title{
        width: 33rem;
    }
    footer .contact div{
        margin-left: 4rem;
        width: 30%;
    }
    footer .message .namemail{
        margin-right: 40rem;
        width: 35%;
        margin-top: 5rem;
    }
    footer .newsletter{
        width: 33rem;
        font-size: 12px; 
        text-align: center;  
    }
    footer .newsletter p{
        font-size: 12px; 
        width: 25rem;
    }
    footer .newsletter form{
        width: 400px;
        margin-right: 5rem;
    }
    footer .newsletter form input {
        width: 57.7%;
    }
    footer .socialmedia .media1 {
        width: 400px;
        font-size: 12px;
    }
    footer .socialmedia .link {
        gap: 0.5rem;
        width: 33rem;
        font-size: 12px;
    }
    footer .copyright{
        width: 33rem;
        font-size: 12px;
    }
}
@media screen and (max-width: 540px) {
    footer .contact div{
        margin-left: 1rem;
        width: 30%;
    }
    footer .message .namemail{
        margin-right: 45rem;
    }
    footer .newsletter{
        width: 30rem;
    }
    footer .socialmedia .media1 {
        width: 350px;
    }
    footer .socialmedia .link {
        width: 30rem;
        border: 2px  solid;
    }
    footer .copyright{
        width: 30rem;
    }
}